body {
  background-color: chocolate;

}

#container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  display: grid;
  place-items: center;
}

#number {
  font-size: 26em;
  color: white;
}

#generate {
  color:white;
  font-weight: 900;
  background-color: black;
  font-size: 3em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}